<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ listName }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
        <ion-item
            *ngFor="let listItem of allItems"
            class="item-borderless"
            [ngClass]="{ 'already-bought': listItem.alreadyBought }"
        >
            <ion-label>{{ listItem.productName }}</ion-label>
            <ion-checkbox
                slot="start"
                [checked]="listItem.alreadyBought"
                (ionChange)="
                    handleProductStateChange($event.detail.checked, listItem)
                "
            ></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button (click)="openAddNewProductPage()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-footer>
