<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Moje Listy
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngFor="let list of shoppingLists$ | async">
        <app-shopping-list
            class="app-shopping-list"
            [list]="list"
        ></app-shopping-list>
    </ng-container>
</ion-content>

<ion-footer>
    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button (click)="openCreateNewListPage()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-footer>
