<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-item lines="inset">
                <ion-label *ngIf="newListName" position="floating"
                    >Nazwa listy</ion-label
                >
                <ion-input
                    placeholder="Nowa lista"
                    [(ngModel)]="newListName"
                    autofocus
                ></ion-input>
            </ion-item>
        </ion-card-content>
        <ion-button fill="clear" float-right (click)="createList()"
            >Utwórz</ion-button
        >
    </ion-card>
</ion-content>
