[Unit]
Description=Frontend service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=vagrant
ExecStart=/bin/bash /home/kuba/Documents/repos/uczelnia/webapp-vagrant/frontend/start-frontend.sh

[Install]
WantedBy=multi-user.target