<ion-card>
    <ion-card-header>
        <ng-container *ngIf="!isRenaming; else renaming">
            <ion-item lines="none" no-padding>
                <ion-label
                    [routerLink]="['/shopping-list-details/', list.listId]"
                    >{{ listName }}</ion-label
                >
            </ion-item>
            <ion-button
                shape="round"
                fill="clear"
                size="small"
                (click)="openListContextMenu($event)"
            >
                <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
        </ng-container>
        <ng-template #renaming>
            <ion-item lines="inset" no-padding>
                <ion-input
                    #newNameInput
                    autofocus="true"
                    clearInput="true"
                    placeholder="Nowa nazwa"
                    [value]="listName"
                    (keyup.enter)="renameList(newNameInput.value)"
                ></ion-input>
            </ion-item>
            <ion-button
                shape="round"
                fill="clear"
                size="small"
                color="success"
                (click)="renameList(newNameInput.value)"
            >
                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
            </ion-button>
        </ng-template>
    </ion-card-header>
</ion-card>
