ion-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;

    ion-item {
        --min-height: none;
        --inner-padding-end: 0;

        ion-label {
            flex: 1;
            outline: 0;
        }
    }
}
